<header>
	<a class="logo" href="/"> {{> idnex }} </a>
	<div id="idnex">
		<a id="idnex-quote"> Who is this lil' guy? </a>
	</div>

	<nav>
		<div class="nav-buttons">
			<a href="/{{ link ?? '' }}"><span>{{ link ?? 'home' }}</span></a>
			<a href="https://blog.twhlynch.me"><span>Blog</span></a>
			<a href="https://grab-tools.live"><span>Grab</span></a>
			<a href="https://github.com/twhlynch">
				<div class="icon" aria-label="Github"></div>
			</a>
			<a href="https://www.linkedin.com/in/twhlynch/">
				<div class="icon i-linkedin" aria-label="LinkedIn"></div>
			</a>
			<a href="/discord">
				<div class="icon i-discord" aria-label="Discord"></div>
			</a>
		</div>
	</nav>
</header>
