<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>twhlynch • {{ title }}</title>

	<meta name="description" content="My portfolio website. Contact me and view my projects." />
	<meta
		name="keywords"
		content=".index index dotindex tom lynch twhlynch grab grabvr vr mods modding discord tools programming coding website development developer github"
	/>
	<meta name="author" content="twhlynch" />

	<meta property="og:title" content="twhlynch • {{ title }}" />
	<meta property="og:description" content="My portfolio website. Contact me and view my projects." />
	<meta property="og:site_name" content="twhlynch • {{ title }}" />
	<meta property="og:locale" content="en_us" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://twhlynch.me" />
	<meta property="og:image" content="http://twhlynch.me/favicon.png" />

	<link rel="icon" href="favicon.png" type="image/png" />
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

	<link rel="apple-touch-icon" href="favicon.png" />
	<link rel="apple-touch-startup-image" href="favicon.png" type="image/png" />

	<meta name="theme-color" content="#050505" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@twhlynch" />
	<meta name="twitter:title" content="twhlynch" />
	<meta name="twitter:description" content="My portfolio website. Contact me and view my projects." />
	<meta name="twitter:creator" content="@twhlynch" />
	<meta name="twitter:image" content="favicon.png" />
	<meta name="twitter:url" content="http://twhlynch.me" />

	<meta name="robots" content="index, follow" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

	<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" />
	<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400&display=swap" />

	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap"
		rel="stylesheet"
		media="print"
		onload="this.media='all'"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400&display=swap"
		rel="stylesheet"
		media="print"
		onload="this.media='all'"
	/>

	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400&display=swap" rel="stylesheet" />
	</noscript>

	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-BDS57RBQ3Q"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-BDS57RBQ3Q');
	</script>

	<link rel="stylesheet" href="assets/style.css" />
	<script type="module" src="assets/main.js" defer></script>
</head>
