.grab-wrapper{
    display: flex;
    flex-direction: column;
}
#github{
    transform: translate(calc(-100% - 3.5rem)) rotate(180deg);
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#discord{
    transform: translate(calc(-200% - 5.5rem)) rotate(180deg);
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#linkedin{
    transform: translate(calc(-300% - 7.5rem)) rotate(180deg);
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.grab-title{
    margin-inline: auto;
    z-index: 0;
    color: #262626;
    position: absolute;
    font-size: min(14rem, 30vw);
    left: min(6rem, 10vw);
    top: 4rem;
    font-family: "Open Sans", sans-serif;
    opacity: .5;
    font-weight: 800;
}
.grab-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.grab-body h1{
    color: var(--subtext-color);
    font-weight: 600;
    margin-top: 2rem;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.project{
    padding: 1rem 2rem;
    margin: .5rem 0;
    border-radius: 1rem;
    width: min(calc(200% - 4rem), calc(99vw - 4rem));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project div img{
    height: 5rem;
    transform: translate(-100%);
}
.projimg{
    width: 0;
}
.project:hover{
    background: var(--bg-alt);
}
.grab-text{
    text-align: center;
}
.quick-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
    padding: 2rem 1rem;
}
.q-link, .q-link img{
 width: 3rem;
}
@media screen and (max-width: 768px) {
    .image-big{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .image-small{
        display: none;
    }
}