:root {
	--base-c-bg: #050505;
	--base-c-scrollbar: #111;
	--base-c-scrollbar-hover: #222;
	--base-fg-light: #888;
	--base-fg: #bbb;
	--base-fg-deep: #ddd;
	--base-fg-deeper: #fff;
	--base-selection: #7d7d7d4d;
	--base-hover: #7d7d7d16;

	--c-bg: var(--base-c-bg);
	--c-scrollbar: var(--base-c-scrollbar);
	--c-scrollbar-hover: var(--base-c-scrollbar-hover);
	--fg-light: var(--base-fg-light);
	--fg: var(--base-fg);
	--fg-deep: var(--base-fg-deep);
	--fg-deeper: var(--base-fg-deeper);

	--fg-super: #ecedfeff;
	--color-note: #2f81f7;
	--color-tip: #3fb950;
	--color-warning: #d29922;
	--color-severe: #db6d28;
	--color-caution: #f85149;
	--color-important: #a371f7;

	--font-main:
		'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}
*::selection {
	background-color: var(--base-selection);
}

html {
	background-color: var(--c-bg);
	font-family: var(--font-main);
	min-height: 100svh;
}
body {
	margin: 0;
	color: var(--fg);
	font-family: var(--font-main);
	position: relative;
	min-height: 100svh;
}
h1 {
	color: var(--fg-deeper);
	font-weight: 800;
	font-size: 2.25em;
	line-height: 1.1111111;
	margin: auto;
	margin-bottom: 2rem;
	max-width: 65ch;
}
hr {
	width: 50px;
	margin: 2em auto;
	border-color: transparent;
	position: relative;
	overflow: visible;
}
hr::after {
	content: '';
	position: absolute;
	left: 0;
	background-image: url(/public/images/divider.svg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0.5em;
	rotate: 3deg;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
i {
	position: relative;
}
i::before {
	content: attr(p);
	position: absolute;
	top: -0.6rem;
	left: -1.4rem;
	transform: rotate(5deg);
	font-family: 'Bad Script', cursive, serif;
	font-weight: lighter;
	font-size: 0.6rem;
	white-space: nowrap;
	color: var(--fg-super);
	opacity: 0.4;
}
button:not(.to-top) {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border: none;
	background-color: var(--c-bg);
	border: 1px solid var(--c-scrollbar-hover);
	color: var(--fg-light);
	border-radius: 3rem;
	transition: background-color 0.2s ease-in-out;
	margin-bottom: 1rem;
}
button:not(.to-top):hover {
	background-color: var(--c-scrollbar);
	cursor: pointer;
}
header {
	z-index: 40;
}
nav {
	padding: 2rem;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.nav-buttons {
	display: flex;
	box-sizing: border-box;
	gap: 1.2rem;
	justify-content: flex-end;
	align-items: center;
}
.icon {
	--icon: url(/public/images/icons/github_lines.svg);
	-webkit-mask: var(--icon) no-repeat;
	mask: var(--icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: currentColor;
	color: inherit;
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	vertical-align: text-bottom;
}
.i-arrow-up {
	--icon: url(/public/images/icons/arrow_up.svg);
}
.i-discord {
	--icon: url(/public/images/icons/discord.svg);
}
.i-github {
	--icon: url(/public/images/icons/github.svg);
}
.i-youtube {
	--icon: url(/public/images/icons/youtube.svg);
}
.i-bsky {
	--icon: url(/public/images/icons/bsky.svg);
}
.i-linkedin {
	--icon: url(/public/images/icons/linkedin.svg);
}
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	transition: opacity 0.2s ease;
	outline: none;
}
nav a {
	opacity: 0.6;
}
p > a {
	color: var(--fg-deeper);
}
a:hover {
	opacity: 1;
}
nav a:hover {
	opacity: 1;
	color: var(--fg-super);
}
.logo {
	width: 3rem;
	height: 3rem;
	margin: 1.25rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.to-top {
	background: none;
	border: none;
	position: fixed;
	bottom: 0.75em;
	right: 0.75em;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	transition: background-color 0.3s ease-in-out;
	z-index: 9999;
	cursor: pointer;
}
.to-top div {
	color: var(--fg-light);
	width: 80%;
	height: 80%;
	opacity: 0.6;
	transition: color 0.3s ease-in-out;
}
.to-top:hover div {
	opacity: 1;
	color: var(--fg-super);
}
.to-top:hover {
	background-color: var(--base-selection);

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}
article {
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
	margin: auto;
}
main {
	padding-block: 2.5rem;
	padding-inline: 1.75rem;
	margin: auto;
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
}
main a:not(:has(img)):not(:has(svg)) {
	border-bottom: 1px solid var(--base-selection);
	transition: border 0.3s ease-in-out;
}
main a:hover:not(:has(img)):not(:has(svg)) {
	border-bottom: 1px solid var(--fg);
}
footer {
	padding-bottom: 2.5rem;
	padding-inline: 1.75rem;
	margin: auto;
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
	opacity: 0.5;
}
.links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}
h4.title {
	margin-inline: auto;
	margin-block: 0;
	z-index: -1;
	color: var(--fg-light);
	position: absolute;
	font-size: min(14rem, 28vw);
	left: min(6rem, 10vw);
	top: 4rem;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.1;
	font-weight: 800;
	max-width: calc(100vw - min(6rem, 10vw));
	overflow: hidden;
}
.title span {
	display: block;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	transform: translateY(-1.5rem);
}
.svg-list svg {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.5rem;
	color: var(--fg-deep);
	fill: currentColor;
}
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-content: center;
	margin-block: 20px;
	max-width: 1000px;
	margin-inline: auto;
	gap: 30px;
	padding-inline: 4rem;
}
.projects > a {
	width: 300px;
	padding: 0.8rem;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 4rem;
	border: none;
	transition: background-color 0.3s ease-in-out;
	margin: auto;
}
.projects > a:hover {
	background-color: var(--base-hover);
	border: none;
}
.projects > a > svg {
	width: 3rem;
	height: 3rem;
	padding-block: 0.25rem;
	padding-left: 0;
	padding-right: 0.5rem;
	fill: var(--fg-light);
	opacity: 0.6;
	transition: fill 0.3s ease-in-out;
	object-fit: contain;
}
.projects > a > img {
	width: 3rem;
	height: 3rem;
	padding-block: 0.25rem;
	padding-left: 0;
	padding-right: 0.5rem;
	opacity: 0.6;
	transition: fill 0.3s ease-in-out;
	object-fit: contain;
}
.projects > a > h2 {
	font-size: 1.2rem;
	margin: 0;
	margin-right: auto;
}
.projects > a:hover > h2 {
	color: var(--fg-super);
	transition: color 0.3s ease-in-out;
}
.projects > a > p {
	font-size: 0.8rem;
	margin: 0;
	margin-right: auto;
	opacity: 0.6;
	width: calc(100% - 3.5rem);
}
.projects > .ignore {
	visibility: hidden;
	height: 0;
	padding: 0;
}
.back {
	margin-bottom: 5em;
	margin-inline: auto;
	width: 65ch;
	max-width: calc(100svw - 4rem);
}
#idnex {
	display: none;
	width: fit-content;
	position: absolute;
	top: 1rem;
	left: 5rem;
	/* display: flex; */
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#idnex-quote {
	width: fit-content;
	white-space: nowrap;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border: 1px solid var(--c-scrollbar-hover);
	background-color: var(--c-bg);
	border-radius: 2.5rem;
	border-bottom-left-radius: 0;
	font-size: 14px;
	cursor: pointer;

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}

#popper {
	visibility: hidden;
	position: fixed;
	width: fit-content;
	white-space: nowrap;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border: 1px solid var(--c-scrollbar-hover);
	background-color: var(--c-bg);
	border-radius: 2.5rem;
	font-size: 14px;
	z-index: 99999;
	transition: all 0.1s ease;

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}

.button_88x31 {
	image-rendering: pixelated;
}

#halftone {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100svw;
	filter: invert();
	opacity: 0.2;
	z-index: -1;
	user-select: none;
	-moz-user-select: none;
}

@media screen and (max-width: 640px) {
	#idnex {
		top: 4rem;
	}
	#idnex-quote {
		border-bottom-left-radius: 2.5rem;
		border-top-left-radius: 0;
	}
}

@view-transition {
	navigation: auto;
}
::view-transition-old(root) {
	animation: none;
}
::view-transition-new(root) {
	animation: none;
}

a:hover {
	view-transition-name: navigation;
}
@keyframes navigation-out {
	from {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	to {
		transform: translateY(-1rem) scale(0.8);
		opacity: 0;
	}
}
::view-transition-old(navigation) {
	animation: 0.5s ease-out both navigation-out;
}
