:root {
	--base-c-bg: #050505;
	--base-c-scrollbar: #111;
	--base-c-scrollbar-hover: #222;
	--base-fg-light: #888;
	--base-fg: #bbb;
	--base-fg-deep: #ddd;
	--base-fg-deeper: #fff;
	--base-selection: #7d7d7d4d;
	--base-hover: #7d7d7d16;

	--c-bg: var(--base-c-bg);
	--c-scrollbar: var(--base-c-scrollbar);
	--c-scrollbar-hover: var(--base-c-scrollbar-hover);
	--fg-light: var(--base-fg-light);
	--fg: var(--base-fg);
	--fg-deep: var(--base-fg-deep);
	--fg-deeper: var(--base-fg-deeper);

	--fg-super: #ecedfeff;
	--color-note: #2f81f7;
	--color-tip: #3fb950;
	--color-warning: #d29922;
	--color-severe: #db6d28;
	--color-caution: #f85149;
	--color-important: #a371f7;

	--font-main:
		'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}

/* MARK: general */
html {
	background-color: var(--c-bg);
	font-family: var(--font-main);
	min-height: 100svh;
}
body {
	margin: 0;
	color: var(--fg);
	font-family: var(--font-main);
	position: relative;
	min-height: 100svh;
}
h1 {
	color: var(--fg-deeper);
	font-weight: 800;
	font-size: 2.25em;
	line-height: 1.1111111;
	margin: auto;
	margin-bottom: 2rem;
	max-width: 65ch;
}
hr {
	width: 50px;
	margin: 2em auto;
	border-color: transparent;
	position: relative;
	overflow: visible;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		background-image: url(/public/images/divider.svg);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 0.5em;
		rotate: 3deg;
	}
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
i {
	position: relative;
}
i::before {
	content: attr(p);
	position: absolute;
	top: -0.6rem;
	left: -1.4rem;
	transform: rotate(5deg);
	font-family: 'Bad Script', cursive, serif;
	font-weight: lighter;
	font-size: 0.6rem;
	white-space: nowrap;
	color: var(--fg-super);
	opacity: 0.4;
}
button:not(.to-top) {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border: none;
	background-color: var(--c-bg);
	border: 1px solid var(--c-scrollbar-hover);
	color: var(--fg-light);
	border-radius: 3rem;
	transition: background-color 0.2s ease-in-out;
	margin-bottom: 1rem;
}
button:not(.to-top):hover {
	background-color: var(--c-scrollbar);
	cursor: pointer;
}
header {
	z-index: 40;
}
nav {
	padding: 2rem;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.nav-buttons {
	display: flex;
	box-sizing: border-box;
	gap: 1.2rem;
	justify-content: flex-end;
	align-items: center;
	text-transform: capitalize;
}
.icon {
	--icon: url(/public/images/icons/github_lines.svg);
	-webkit-mask: var(--icon) no-repeat;
	mask: var(--icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: currentColor;
	color: inherit;
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	vertical-align: text-bottom;

	/* prettier-ignore */
	& {
		&.i-arrow-up { --icon: url(/public/images/icons/arrow_up.svg); }
		&.i-discord { --icon: url(/public/images/icons/discord.svg); }
		&.i-github { --icon: url(/public/images/icons/github.svg); }
		&.i-youtube { --icon: url(/public/images/icons/youtube.svg); }
		&.i-bsky { --icon: url(/public/images/icons/bsky.svg); }
		&.i-linkedin { --icon: url(/public/images/icons/linkedin.svg); }
		&.i-zig { --icon: url(/public/images/icons/zig.svg); }
		&.i-blender { --icon: url(/public/images/icons/blender.svg); }
		&.i-lua { --icon: url(/public/images/icons/lua.svg); }
		&.i-threejs { --icon: url(/public/images/icons/threejs.svg); }
		&.i-astro { --icon: url(/public/images/icons/astro.svg); }
		&.i-vue { --icon: url(/public/images/icons/vue.svg); }
		&.i-js { --icon: url(/public/images/icons/js.svg); }
		&.i-python { --icon: url(/public/images/icons/python.svg); }
		&.i-cpp { --icon: url(/public/images/icons/cpp.svg); }
		&.i-github-alt { --icon: url(/public/images/icons/github_alt.svg); }
		&.i-nvim { --icon: url(/public/images/icons/neovim.svg); }
		&.i-html { --icon: url(/public/images/icons/html.svg); }
		&.i-miraheze { --icon: url(/public/images/icons/miraheze.svg); }
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	transition: opacity 0.2s ease;
	outline: none;
}
nav a {
	opacity: 0.6;
}
p > a {
	color: var(--fg-deeper);
}
a:hover {
	opacity: 1;
}
nav a:hover {
	opacity: 1;
	color: var(--fg-super);
}
.logo {
	color: #fff;
	width: 3rem;
	height: 3rem;
	margin: 1.25rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
article {
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
	margin: auto;
}
main {
	padding-block: 2.5rem;
	padding-inline: 1.75rem;
	margin: auto;
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
}
main a:not(:has(img)):not(:has(svg)):not(.svg-list a) {
	border-bottom: 1px solid var(--base-selection);
	transition: border 0.3s ease-in-out;
}
main a:hover:not(:has(img)):not(:has(svg)):not(.svg-list a) {
	border-bottom: 1px solid var(--fg);
}
footer {
	padding-bottom: 2.5rem;
	padding-inline: 1.75rem;
	margin: auto;
	max-width: 65ch;
	font-size: 1rem;
	line-height: 1.75;
	opacity: 0.5;
}
.links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.svg-list {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	padding-block: 0.5rem;
	flex-wrap: wrap;
	svg,
	span,
	a {
		width: 1.5rem;
		height: 1.5rem;
		color: var(--fg-deep);
		fill: currentColor;
	}
}

/* MARK: projects */
.projects {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	margin-inline: auto;
	padding-inline: 2rem;
	padding-bottom: 4rem;
	flex-wrap: wrap;
	max-width: 1400px;

	.project {
		width: 300px;
		height: 150px;
		padding: 0.4rem;
		border-radius: 0.9rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: var(--base-hover);
		position: relative;
		text-align: center;
		color: var(--base-fg-deeper);
		transition:
			background-color 0.3s ease-in-out,
			transform 0.3s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
			background-size: 100%;
			background-repeat: no-repeat;
			transition: background-image 0.3s ease-in-out;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			object-fit: cover;
			object-position: top center;
			user-select: none;
		}

		h2,
		p {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease-in-out;
			text-shadow: 0 0 2px #000;
		}

		h2 {
			opacity: 1;
		}

		p {
			visibility: hidden;
			opacity: 0;
			width: 80%;
		}

		span {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
			display: flex;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			background-color: var(--base-selection);
			transform: scale(1.05);

			&::before {
				background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
			}

			h2 {
				visibility: hidden;
				opacity: 0;
			}

			p,
			span {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

/* extras */
.to-top {
	background: none;
	border: none;
	position: fixed;
	bottom: 0.75em;
	right: 0.75em;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	transition: background-color 0.3s ease-in-out;
	z-index: 9999;
	cursor: pointer;
}
.to-top div {
	color: var(--fg-light);
	width: 80%;
	height: 80%;
	opacity: 0.6;
	transition: color 0.3s ease-in-out;
}
.to-top:hover div {
	opacity: 1;
	color: var(--fg-super);
}
.to-top:hover {
	background-color: var(--base-selection);

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}

h4.title {
	margin-inline: auto;
	margin-block: 0;
	z-index: -1;
	color: var(--fg-light);
	position: absolute;
	font-size: min(14rem, 28vw);
	left: min(6rem, 10vw);
	top: 4rem;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.1;
	font-weight: 800;
	max-width: calc(100vw - min(6rem, 10vw));
	overflow: hidden;
}
.title span {
	display: block;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	transform: translateY(-1.5rem);
}

#idnex {
	display: none;
	width: fit-content;
	position: absolute;
	top: 1rem;
	left: 5rem;
	/* display: flex; */
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#idnex-quote {
	width: fit-content;
	white-space: nowrap;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border: 1px solid var(--c-scrollbar-hover);
	background-color: var(--c-bg);
	border-radius: 2.5rem;
	border-bottom-left-radius: 0;
	font-size: 14px;
	cursor: pointer;

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}
@media screen and (max-width: 640px) {
	#idnex {
		top: 4rem;
	}
	#idnex-quote {
		border-bottom-left-radius: 2.5rem;
		border-top-left-radius: 0;
	}
}

#popper {
	visibility: hidden;
	position: fixed;
	width: fit-content;
	white-space: nowrap;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border: 1px solid var(--c-scrollbar-hover);
	background-color: var(--c-bg);
	border-radius: 2.5rem;
	font-size: 14px;
	z-index: 99999;
	transition: all 0.1s ease;

	background-image: url(/public/images/noise.svg);
	background-size: 250px 250px;
	background-repeat: repeat;
}

.button_88x31 {
	image-rendering: pixelated;
}

#halftone {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100svw;
	filter: invert();
	opacity: 0.2;
	z-index: -1;
	user-select: none;
	-moz-user-select: none;
}

@view-transition {
	navigation: auto;
}
::view-transition-old(root) {
	animation: none;
}
::view-transition-new(root) {
	animation: none;
}
::view-transition-old(navigation) {
	animation: 0.5s ease-out both navigation-out;
}
a:hover {
	view-transition-name: navigation;
}
@keyframes navigation-out {
	from {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	to {
		transform: translateY(-1rem) scale(0.8);
		opacity: 0;
	}
}

*::selection {
	background-color: var(--base-selection);
}
